
<style>
  @font-face {
    font-family: 'LuckyLady';
    src: url('/sensory_bridge_docs/extras/Lucky Lady.woff2') format('woff2');
  }
  
  h1 {
    color:#7796ff;
    font-family: 'LuckyLady', sans-serif;
    border-bottom: 3px solid #44434d;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 20px;
  }

  .site-title {
    color:#7796ff;
    font-family: 'LuckyLady', sans-serif;
  }

  wire-red{
    background-color: #ff4d4d;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-green{
    background-color: #429033;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-yellow{
    background-color: #dbac1a;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-white{
    background-color: #cccccc;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-black{
    background-color: #000000;
    color: #cccccc;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  sb-button{
    background-color: #cdcbcb;
    color: #242424;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
  }

  sb-knob{
    background-color: #7796ff;
    color: #cccccc;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    font-size: small;
  }


</style>
