
<style>  
  @font-face {
    font-family: 'LuckyLady';
    src: url('/extras/Lucky Lady.woff2') format('woff2');
  }
  
  h1 {
    font-family: 'LuckyLady', sans-serif;
    letter-spacing: 0.03em !important;
    border-bottom: 5px dotted #7796ff;
    padding: 10px 0px;
    padding-right: 10px;
    margin-bottom: 20px !important;
  }

  .site-title {
    color:#ffffff;
    font-family: 'LuckyLady', sans-serif;
    font-size: 26px !important;
  }

  wire-red{
    background-color: #ff4d4d;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-green{
    background-color: #429033;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-yellow{
    background-color: #dbac1a;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-white{
    background-color: #cccccc;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-black{
    background-color: #000000;
    color: #cccccc;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  sb-button{
    background-color: #cdcbcb;
    color: #242424;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
  }

  sb-knob{
    background-color: #7796ff;
    color: #000000;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
  }

  p{
    line-height: 1.75em;
  }

  link-out{
    color: #000000;
    background-color: #fbdb00;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
  }

  .small-img{
    width: 100%;
    max-width: 400px;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  t1 {
    font-size: 42px;
    display: block;
    font-family: 'LuckyLady';
    line-height: 1.0;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  t2 {
    font-size: 16px;
    display: block;
  }
  
  purchaselink {
    font-weight: bold;
    color: #000000;
    background-color: #fbdb00;
    padding: 6px 12px;
    border-radius: 24px;
    text-align: center;
    position: relative;
    top: -10px;
  }


</style>
